.simple-form {
    width: 350px;
    background-color: antiquewhite;
}

.simple-title {
    padding-left: 3%;
    margin: 2% auto;
    color: brown;
}

.text-headline {
    font-size: 26px;
    font-weight: bold;
}

.input-field {
    float: right;
    padding-left: 1%;
}

.text-field {
    /*border: 1px solid green;*/
    float: left;
    /*margin-bottom: 15px;*/
}

.text-description {
    font-size: 16px;
    font-weight: bold;
}

.universal-input-field {
    /*border: 1px solid red;*/
    width: 100%;
    padding: 1% 0;
    float: left;
    clear: both;
}

.wild-input-field {
    clear: left;
    width: 98%;
    padding: 0 2% 0 0;
}

textarea {
    width: 100%;
}