/* layout-style.css */
/*        ideal approach is                 */
/*      * {  margin: 0;  padding: 0;  }     */
body {
    margin: 0;  padding: 0;
    color: #000000; background: #FFFFFF;
    font-family: Arial, sans-serif;
    border-top: 2px solid black;
}

header {
    height: 3em;
    border-bottom: 1px dotted black;
    border-top: 1px solid black;
}

header span {
    /*процент отсчитывается от размера текущего шрифта*/
    font: 120% Georgia, serif;
    color: black;
    float: right;
    margin-right: 2em;
    margin-top: 0.6em;
}

header img {
    margin-top: 0.6em;
    margin-left: 1.5em;
}

nav {
    background: yellow;

    float: left;
    margin-top: 2em;
    margin-left: 1em;
    width: 14em;
}

nav ul {
    list-style-type: none;
    background: silver;
    padding-left: 0;
    margin-left: 1em;
}

nav li {
    background: white;
    font-size: 80%;
}

section {
    display: none;
}