* {
    background: cornsilk;
    color: darkslateblue;
}

section, article {
    font: large "Lucida Sans Unicode";
}

aside img {
    display: block;
    margin: 0 auto;
}

header img {
    position: absolute;
    top: 0px;
    left: 0px;
}

header h1, header h3 {
    font: bold x-large "Comic Sans MS";
    text-align: center;
}

header > h1 {
    text-decoration: overline underline;
}

nav a:link {
    color: lightseagreen;
}

nav a:visited {
    color: darkorchid;
}

nav a:hover {
    color: red;
    background: yellow;
}

section a:link {
    color: cadetblue;
}

section a:visited {
    color: aquamarine;

}

section a:hover {
    color: yellow;
    background: red;
}

article > p:first-letter {
    color : red;
}

article > p {
    text-indent: 2%;
}

article p {
    line-height: 140%;
}

header h3 {
    color: greenyellow;
    background: url("../resources/gb_flag.jpg") no-repeat top;
}

article > p:last-child {
    text-align: justify;
}