* {
    background: cornsilk;
    color: darkslateblue;
}

section, article {
    font: large "Lucida Sans Unicode";
}

aside div {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}

header img {
    position: absolute;
    top: 0;
    left: 0;
}

header h1, header h3 {
    font: bold x-large "Comic Sans MS";
    text-align: center;
}

header > h1 {
    text-decoration: overline underline;
}

nav a:link {
    color: lightseagreen;
}

nav a:visited {
    color: darkorchid;
}

nav a:hover {
    color: red;
    background: yellow;
}

nav li {
    list-style-type: none;
}

section a:link {
    color: cadetblue;
}

section a:visited {
    color: aquamarine;

}

section a:hover {
    color: yellow;
    background: red;
}

article > p:first-letter {
    color : red;
}

article > p {
    text-indent: 2%;
}

article p {
    line-height: 140%;
}

header h3 {
    color: greenyellow;
    background: url("../resources/gb_flag.jpg") no-repeat top;
}

article > p:last-child {
    text-align: justify;
}

footer iframe {
    width: 810px;
    height: 170px;

    border: 3px none black;

}

footer > div:last-child {
    padding-left: 5%;

}

footer ul {
    list-style-type: none;
}

footer li {
    display: inline;
}

.footer-center-allocation {
    margin-left: auto;
    margin-right: auto;
}

footer .footer-simple-block {
    width: 90%;
}

footer .footer-text-field {
    text-align: center;
}

footer .footer-links-list {
    width: 20%;
}

footer .footer-iframe-block {
    width: 70%;
}